@tailwind base;
@tailwind components;
@tailwind utilities;

/* 부드러운 색상 전환 */
body {
  @apply bg-white dark:bg-slate-950 text-slate-600 dark:text-gray-400;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}